$green: #0FA7AB;
$light-green: #29D9C2;
html{
    font-size: 100%;
    transition: all 1s ease-out;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: $green;
    font-weight: 300;
    text-align: left;
    transition: all 0.5s ease;
    /* Other transform properties here */
}
h1,h2,h3,h4,p,a{
    font-family: 'Montserrat', sans-serif;
    line-height: initial;;
}
h1{
    font-weight: normal;
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
    font-weight: 300;
}
ul{
    padding-left: 0;
}
ul > li{
    list-style: none;
    display: inline-block;
}
a{
    cursor: pointer;
    text-decoration: none!important;
}
a:hover{
    text-decoration: none!important;
}

#menu{
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 14pt;
    margin-top: 10px;
    a{
        color: #fff;
        margin-right: 60px;
    }
    i{
        margin-right: 5px;
    }
    .menu-section{
        float: right;
    }
}
#header-menu{
    top: -64px;
    position: relative;
    z-index: 100;
    .menu {
        position: absolute;
        // width: 50px;
        height: 50px;
        font-size: 30px;
        text-align: center;
        border-radius: 0;
        right: 25px;
    }

    .menu-bg {
        @extend .menu;
        // background: #266080;
        pointer-events: none;
        transition: .3s;
        right: 50px;
        top: 50px;
        transform: translate3d(50%, -50%, 0);
        transform-origin: center center;
        &.fs {
            transform: translate3d(50%, -50%, 0);
            width: 300vw;
            height: 300vw;
        }
    }

    .menu-burger {
        @extend .menu;
        // padding-top: 5px;
        -webkit-user-select: none;
        cursor: pointer;
        transition: .4s;
        transform-origin: center;
        top: 0px;
        color: #fff;
        &.fs {
            transform: rotate(-180deg) translateY(10px);
            color: $green;
            z-index: 10;
            position: fixed;
            top: 15px;
        }
    }
    .menu-items.fs{
        opacity: 1;
        z-index: 2!important;
    }

    .menu-items {
        position: absolute;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 10px;
        color: white;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: .4s;
        margin-top: 100px;
        transform: translateY(-200%);
        pointer-events: none;
        a {
            transition: 1s;
            opacity: 0;
            margin-top: 0px;
            display: block;
            text-decoration: none;
            color: $green;
        }
        &.fs {
            transform: translateY(0);
            pointer-events: auto;
            background: #fff;
            opacity: 1;
            top: -100px;
            position: fixed;
            height: 100%;
            padding-top: 35px;
            z-index: 1;
            a {
                opacity: 1;
                margin-top: 15px;
                color: $green;
                border-bottom: 1px solid $green;
                padding-bottom: 15px;
            }
        }
        .lan{
            color: $green;
            width: 100%;
            border-bottom: 1px solid $green;
            a,span{
                display: inline-block;
                border-bottom: 0;
            }
        }
        span,.lan{
            font-size: 16pt;
            font-weight: 300;
        }
    }
}

.desktop-menu{
    color: #fff;
    float: right;
    font-size: 14pt;
    margin-top: 10px;
    margin-right: 100px;
    a{
        color: #fff;
        margin-left: 70px;
        font-weight: 300;
    }
    i{
        margin-right: 5px;
    }
    .menu-section{
        float: right;
    }
    .lan{
        color: #fff;
        margin-left: 70px;
        font-weight: 300;
        display: inline;
        a{
            padding: 0;
            margin: 0;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
.header{
    margin: 15px 0;
    .active{
        span{
            text-decoration: underline!important;
        }
    }
    .lan{
        .active{
            background-color: #fff;
            padding: 2px 5px;
            color: $green;
            margin-right: 5px;
            // text-decoration: underline!important;
        }
        .eng{
            margin-right: 5px;
        }
        .zh{
            margin-left: 5px;
        }
    }
}
.menu-section{
    display: none;
}
.logo{
    display: inline-block;
    // @include background-image-retina(logo_darkbg, png, 152px, 47px);
    width: 152px;
    height: 47px;
    background-size: cover;
    z-index: 100;
    position: relative;
    a{
        background-image: none;
    }
}
.footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    // background-color: $green;
    img{
        height: 26px;
        margin: 10px;
    }
    p{
        font-size: 1rem;
        color: #fff;
    }
    .logo{
        width: 84px;
        height: 26px;
        background-size: cover;
        margin-top: 10px;
    }
}
.index-content{
    div{
        h1{
            border-bottom: 1px solid #fff;
            padding-bottom: 20px;
            width: 100%;
            text-align: center;
            color: #fff;
            padding-top: 40px;
        }
        .row{
            margin-top: 60px;
        }
    }
}
.landing{
    height: 100vh;
    // background-color: $green;
    .container{
        h1{
            font-size: 6vw;
            line-height: 1;
            color: #fff;
            margin-top: 25vh;
            line-height: 1;
            text-align: left;
            border-bottom: 0;
            span{
                color: #00FF3B;
                border-bottom: 1px solid #00FF3B;
                line-height: 1.2;
            }
        }
    }
    h3{
        color: #8DFCFF;
        // font-size: 1.6rem;
        font-size: 18pt;
        font-weight: 300;
    }
}
#content{
    background-color: $light-green;
    height: auto;
    padding-bottom: 80px;
    .row{
        margin-top: 0px;
        // border: 1px solid red;
    }
    .flexbox{
        // margin-left: -25px;
        // margin-right: -22px;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-content: flex-end;
        align-content: flex-start;
        -webkit-align-items: center;
        align-items: end;
        -webkit-justify-content: center;
        justify-content: center;
        display: flex;
        align-items: stretch;
    }
    .content-item{
        width: 31%;
        background-color: $green;
        // height: 630px;
        padding: 20px 20px 85px 20px;
        color: #fff;
        // margin: 10px;
        margin-right: 2.3%;
        position: relative;
        margin-top: 20px;
        // margin-bottom: 20px;
        img{
            // height: 320px;
            display: inline-block;
            width: 100%;
        }
        h3{
            // height: 90px;
        }
        p{
            // height: 75px;
        }
        button{
            background-color: gray;
        }
        .btn-wraperr{
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-bottom: 20px;
            padding-right: 37px;
        }
    }
    .content-item:nth-child(3){
        margin-right: 0;
    }
    .content-item-01{
        width: 100%;
        height: 330px;
        background-size: cover;
        background-position: 50% 50%;
        background-image:url('https://thumb9.shutterstock.com/display_pic_with_logo/3471671/516344962/stock-vector-red-darts-target-arrow-success-aim-icon-target-vector-illustration-516344962.jpg');
    }
    .content-item-02{
        width: 100%;
        height: 330px;
        background-size: cover;
        background-position: 50% 50%;
        background-image:url('https://thumb9.shutterstock.com/display_pic_with_logo/2324765/670210708/stock-photo-concentrated-afro-american-editor-checking-email-box-while-waiting-feedback-from-readers-of-popular-670210708.jpg');
    }
    .content-item-03{
        width: 100%;
        height: 330px;
        background-size: cover;
        background-position: 50% 50%;
        background-image:url('https://thumb1.shutterstock.com/display_pic_with_logo/1587119/445925509/stock-vector-online-marketing-via-social-media-and-instant-messenger-as-concept-for-monetization-with-smart-phone-445925509.jpg');
    }
    button{
        width: 100%;
        font-size: 1rem;
        border-radius: 0;
        background: #fff!important;
        border: 0;
        color: $green;
        font-weight: bold;
        font-size: 1.1rem;
        height: 48px;
        box-shadow: 0 8px 0px #29D9C2;
        transition: all .1s ease-out;
        padding-right: 58px;
        padding-left: 10px;
        // padding-bottom: 10px;
        margin-bottom: 10px;
    }
    button:active{
        box-shadow: 0 1px 0px #29D9C2;
        transition: all .1s ease-out;
    }
    button.active{
        box-shadow: 0 1px 0px #29D9C2;
        transition: all .1s ease-out;
    }
    button::after{
        content: "\f0a9";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 2rem;
        display: inline-block;
        text-align: right;
        position: absolute;
        right: 15px;
        color: #fff;
    }
    button::before{
        background-color: rgba(7, 45, 32, 0.65);
        position: absolute;
        right: 0;
        height: 56px;
        width: 56px;
        top: 0;
        content: '';
        transition: all .1s ease-out;
    }
    button:active::before{
        height: 48px;
        transition: all .1s ease-out;
    }
}
#video-demo{
    padding-bottom: 40px;
    h1{
        border-bottom: 0;
    }
    .video{
        position: relative;
        margin: 20px 0;
        img{
            width: 100%;
        }
        // #mac:hover{
        //     i{
        //         color: $light-green;
        //     }
        //     #iphone{
        //         i{
        //             color: $green;
        //         }
        //     }
        // }
        // #iphone:hover{
        //     i{
        //         color: $light-green;
        //     }
        // }
        #mac{
            background-image: url(../img/mac.png);
            width: 100%;
            height: 716px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
            left: 50%;
            max-width: 1220px;
            right: 50%;
            background-position-y: center;
            cursor: pointer;
            .play{
                position: relative;
                left: 50%;
                width: 100%;
                max-width: 1220px;
                /* top: 44%; */
                height: 100%;
                left: 25%;
                vertical-align: middle;
                text-align: center;
                left: 0;
                right: 50%;
                i{
                    top: 44%;
                    position: absolute;
                }
            }
            .play:hover{
                i{
                    color: #fff;
                }
            }
        }
        #iphone{
            position: absolute;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            display: inline-block;
            cursor: pointer;
            width: 250px;
            // @include background-image-retina(iphone, png, 100%, 474px);
            // width: 100%;
            height: 483px;
            z-index: 10;
            left: 72%;
            .play{
                position: relative;
                /* left: 50%; */
                width: 250px;
                width: 100%;
                // top: 44%;
                vertical-align: middle;
                text-align: center;
                i{
                    position: relative;
                }
            }
        }
        #iphone:hover{
            i{
                color: #fff;
            }
        }
        i{
            // position: absolute;
            // left: 50%;
            // top: 50%;
            color: $green;
            font-size: 3rem;
        }
    }
}
.modal-dialog{
    // width: 80%;
    // height: 50%;
    width: 805px;
    top: 25vh;
    .modal-body{
        position: absolute;
        padding: 15px;
        width: 805px;
        height: 450px;
        /* width: 100%; */
    }
    iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
