$green: #0FA7AB;
$light-green: #29D9C2;
html{
    font-size: 100%;
    transition: all 1s ease-out;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    // background-color: $green;
    font-weight: 300;
    text-align: left;
    transition: all 0.5s ease;
    /* Other transform properties here */
}
h1,h2,h3,h4,p,a{
    font-family: 'Montserrat', sans-serif;
    line-height: initial;;
}
h1{
    font-weight: normal;
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
    font-weight: 300;
}
ul{
    padding-left: 0;
}
ul > li{
    list-style: none;
    display: inline-block;
}
a{
    cursor: pointer;
    text-decoration: none!important;
    color: #000;
}
a:hover{
    text-decoration: none!important;
}

#menu{
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 14pt;
    margin-top: 10px;
    a{
        // color: #fff;
        margin-right: 60px;
    }
    i{
        margin-right: 5px;
    }
    .menu-section{
        float: right;
    }
}
#header-menu{
    top: -64px;
    position: relative;
    z-index: 100;
    .menu {
        position: absolute;
        // width: 50px;
        height: 50px;
        font-size: 30px;
        text-align: center;
        border-radius: 0;
        right: 25px;
    }

    .menu-burger {
        @extend .menu;
        // padding-top: 5px;
        -webkit-user-select: none;
        cursor: pointer;
        transition: .4s;
        transform-origin: center;
        top: 0px;
        color: #fff;
        &.fs {
            transform: rotate(-180deg) translateY(10px);
            color: $green;
            z-index: 10;
            position: fixed;
            top: 15px;
        }
    }
    .menu-items.fs{
        opacity: 1;
        z-index: 2!important;
    }

    .menu-items {
        position: absolute;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 10px;
        color: white;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: .4s;
        margin-top: 100px;
        transform: translateY(-200%);
        pointer-events: none;
        a {
            transition: 1s;
            opacity: 0;
            margin-top: 0px;
            display: block;
            text-decoration: none;
            color: $green;
        }
        &.fs {
            transform: translateY(0);
            pointer-events: auto;
            background: #fff;
            opacity: 1;
            top: -100px;
            position: fixed;
            height: 100%;
            padding-top: 35px;
            z-index: 1;
            a {
                opacity: 1;
                margin-top: 15px;
                color: $green;
                border-bottom: 1px solid $green;
                padding-bottom: 15px;
            }
        }
        .lan{
            color: $green;
            width: 100%;
            border-bottom: 1px solid $green;
            a,span{
                display: inline-block;
                border-bottom: 0;
            }
        }
        span,.lan{
            font-size: 16pt;
            font-weight: 300;
        }
    }
}

.desktop-menu{
    color: #fff;
    padding: 10px 0;
    a{
        color: #000;
        margin-right: 10px;
        font-weight: 300;
        font-size: 12pt;
    }
    i{
        margin-right: 5px;
        color: #FFCD58;
    }
    .menu-section{
        float: right;
    }
    .logo{
        background-color: none;
    }
    img{
        height: 33px;
    }
}
.logo{
    width: 100%;
    padding: 10px;
    background-color: #000;
    display: inline-block;
    z-index: 100;
    position: relative;
    img{
        vertical-align: middle;
    }
}
.header{
    position: fixed;
    width: 100%;
    .active{
        span{
            text-decoration: underline!important;
        }
    }
}
.banner{
    img{
        width: 100%;
    }
}
.index-content{
    padding: 102px 0 60px 0;
}
.func-btn{
    .col-xs-4{
        text-align: center;
        padding: 20px;
        // border: 1px solid red;
        height: 130px;
    }
    img{
        height: 70px;
    }
    p{
        margin-top: 5px;
        font-weight: bold;
    }
}
.welfare{
    img{
        width: 100%;
    }
    h2{
        position: absolute;
        color: #fff;
        margin-top: -106px;
        padding: 10px 10px;
        width: 517px;
        line-height: 1.2;
    }
}
.sections{
    div{
        border: 1px solid red;
        height: 400px;
        top: 0;
    }
}
.footer{
    background-color: #000;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    p{
        font-size: 1rem;
        color: #fff;
        display: inline-block;
        bottom: -6px;
        position: relative;
    }
    img{
        vertical-align: middle;
        margin-right: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
