doctype html
//if IE 8
	html.ie8.lt-ie10
//if IE 9
	html.ie9.lt-ie10
// [if gt IE 9] <!
html(lang='en')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(http-equiv='cleartype', content='on')
		meta(name='MobileOptimized', content='320')
		meta(name='HandheldFriendly', content='True')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		//- script(src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		// Latest compiled and minified CSS
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// customize style //
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css')
		// Latest compiled and minified JavaScript
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css')
		//if (lt IE 9)
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
		
		//sldieshow
		title Login
	body
		//- include ./header.jade
		main#panel
			#frame
				block content
				//- include ./footer.jade
script.
	$( document ).ready(function() {
		$('.phonenumber-group').hide();
		$('input[type=radio][name=exampleRadios]').change(function() {
				if (this.value == 'mail') {
						console.log("Allot Thai Gayo Bhai");
						$('.mail-group').show();
						$('.phonenumber-group').hide();
				}
			else if (this.value == 'phone') {
						console.log("Transfer Thai Gayo");
						$('.mail-group').hide();
						$('.phonenumber-group').show();
				}
		});
	});
