.header
	.logo
		.container
			.row
				a(href='index.html')
					img(src='img/motion_ci_B.png', alt='logo')
	header.header.panel-header
		.container
			.row
				.desktop-menu
					a(href='index.html')
						img(src='img/motion＿icon.png', alt='logo')
					a.hidden-xs.hidden-sm.index(href='index.html') 
						i.fa.fa-crown
						span 首页
					a.hidden-xs.hidden-sm.tutorial(href='tutorial.html') 
						i.fa.fa-gamepad 
						span 游戏专区
					a.hidden-xs.hidden-sm.tutorial(href='tutorial.html') 
						i.fa.fa-comment-dots
						span 游戏论坛
	//- #header-menu.hidden-md.hidden-lg
	//- 	.menu-bg
	//- 	.menu-burger ☰
	//- 	.menu-items
	//- 		a.index(href='index.html') 
	//- 			i.fa.fa-crown
	//- 			span Index
	//- 		a.tutorial(href='tutorial.html')  
	//- 			i.fa.fa-book 
	//- 			span Tutorial
	//- 		.lan
	//- 			i.fa.fa-globe 
	//- 			a.eng Eng
	//- 			span /
	//- 			a.zh 中文
