.header
	.logo
		.container
			.row
				a(href='index.html')
					img(src='img/motion_ci_B.png', alt='logo')
				.input.hidden-md.hidden-lg
					input(placeholder='搜索', type='text')
	header.header.panel-header
		.container
			.row
				.desktop-menu
					a.hidden-xs(href='index.html')
						img(src='img/motion＿icon.png', alt='logo')
					a.index(href='/') 
						i.fa.fa-crown
						span 首页
					a.tutorial(href='#rank') 
						i.fa.fa-gamepad 
						span 游戏专区
					a.tutorial(href='#comment') 
						i.fa.fa-comment-dots
						span 游戏论坛
