extends frame
block append content
	.index-content
		.banner
			//- .container
			//- 	.row
			//- 		img(src="img/banner1.jpg", alt="bannner")
			.container
				.row.no-margin
					.slider
						ul.slides
							li
								img(src='img/banner1.jpg', alt='slide01')
							li
								img(src='img/banner2.jpg', alt="slide02")
		.func-btn
			.container
				.row
					.col-xs-4
						a(href="#")
							img(src="img/btn1.png", alt="btn")
							p 了解MTN
					.col-xs-4
						a(href="#")
							img(src="img/btn2.png", alt="btn")
							p 免费得到MTN
					.col-xs-4
						a(href="#")
							img(src="img/btn3.png", alt="btn")
							p 兑换礼包
		.welfare
			.container
				.row
					.img
					h2 平台收入10% 将会捐赠公益机构 在游戏过程中 就可以让世界更美好
		.container
			.row.sections
				.third
					.community
						.border
						h3 论坛热帖
						.more
							a(href="#")更多>
						.community-block
							.block
								a(href="#").head
									img(src="img/head.jpg", alt="head")
								p.name fewfewg
								.time
									p 3分鐘
								.message
									p 【问题】搜神记战符结晶值多少钱
								.social-block
									a(href="#")
										i.fa.fa-wallet
										p ¥200.7
									a(href="#")
										i.far.fa-thumbs-up
										p 400
									a(href="#")
										i.far.fa-thumbs-down
										p 18
									a(href="#")
										i.fa.fa-comment
										p 453
							.block
								a(href="#").head
									img(src="img/head.jpg", alt="head")
								p.name fewfewg
								.time
									p 3分鐘
								.message
									p 【问题】搜神记战符结晶值多少钱
								.social-block
									a(href="#")
										i.fa.fa-wallet
										p ¥200.7
									a(href="#")
										i.far.fa-thumbs-up
										p 400
									a(href="#")
										i.far.fa-thumbs-down
										p 18
									a(href="#")
										i.fa.fa-comment
										p 453
							.block
								a(href="#").head
									img(src="img/head.jpg", alt="head")
								p.name fewfewg
								.time
									p 3分鐘
								.message
									p 【问题】搜神记战符结晶值多少钱
								.social-block
									a(href="#")
										i.fa.fa-wallet
										p ¥200.7
									a(href="#")
										i.far.fa-thumbs-up
										p 400
									a(href="#")
										i.far.fa-thumbs-down
										p 18
									a(href="#")
										i.fa.fa-comment
										p 453
					.news
						.border
						h3 最新资讯
						.more
							a(href="#")更多>
						.news-wraper
							.new-block
								a(href="#")【新闻】《梦幻西游》微信公众号特别礼包已开公众号端午节特别礼包
								p 2018-04-24
							.new-block
								a(href="#")【新闻】全面升级！《九游游戏》客户端v1.1.1即将
								p 2018-04-24
							.new-block
								a(href="#")全新版本 《九游游戏》v1.1.1体验报告
								p 2018-04-24
							.new-block
								a(href="#")游戏端午节，狂欢就现在
								p 2018-04-24
							.new-block
								a(href="#")安卓游戏下载最强利器全新登场在
								p 2018-04-24
							.new-block
								a(href="#")【新闻】《全面战争传奇：大不列颠王座》全派系国全派系
								p 2018-04-24
					#comment.comment
						.border
						h3 游戏评测
						.more
							a(href="#")更多>
						.comment-wrapper
							.img
								img(src="img/game-icon.png", alt="game-img")
							.comment-block
								h4 日本霸榜游戏《影之诗》国日本霸榜卡牌
								p 由日本Cygames公司开发，网易游戏正式代理的公平竞技卡牌手游《影之诗》，即日起正是开启国服双平台公测
								.time
									span 2018-05-04 11:51
						.comment-wrapper
							.img
								img(src="img/game-icon.png", alt="game-img")
							.comment-block
								h4 烽火乱世现温柔乡，网易《战国志》
								p 网易全球服务器争霸手游《战国志》现已定档5月17日全平台公测，《战国志》区别于传统的国站手游，游戏使用...
								.time
									span 2018-05-03 11:42
				.one
					#rank.rank
						.border
						h3 排行榜
						.more
							a(href="#")更多>
						.rant-wrapper
							.medal
								img(src="img/gold-medal-icon.jpeg", alt="gold-medal")
							.img
								img(src="img/game-icon.png", alt="game-img")
							.description
								h5 水晶之心
								span 动作｜50.5M
								.rankings
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-half
								.points
									p 4.2分
							.download
								.btn.btn-info
									p 下载
								.counts
									p 100万下载
						.rant-wrapper
							.medal
								img(src="img/gold-medal-icon.jpeg", alt="gold-medal")
							.img
								img(src="img/game-icon.png", alt="game-img")
							.description
								h5 水晶之心
								span 动作｜50.5M
								.rankings
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-half
								.points
									p 4.2分
							.download
								.btn.btn-info
									p 下载
								.counts
									p 100万下载
						.rant-wrapper
							.medal
								img(src="img/gold-medal-icon.jpeg", alt="gold-medal")
							.img
								img(src="img/game-icon.png", alt="game-img")
							.description
								h5 水晶之心
								span 动作｜50.5M
								.rankings
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-half
								.points
									p 4.2分
							.download
								.btn.btn-info
									p 下载
								.counts
									p 100万下载
						.rant-wrapper
							.medal
								img(src="img/gold-medal-icon.jpeg", alt="gold-medal")
							.img
								img(src="img/game-icon.png", alt="game-img")
							.description
								h5 水晶之心
								span 动作｜50.5M
								.rankings
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-half
								.points
									p 4.2分
							.download
								.btn.btn-info
									p 下载
								.counts
									p 100万下载
						.rant-wrapper
							.medal
								img(src="img/gold-medal-icon.jpeg", alt="gold-medal")
							.img
								img(src="img/game-icon.png", alt="game-img")
							.description
								h5 水晶之心
								span 动作｜50.5M
								.rankings
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-half
								.points
									p 4.2分
							.download
								.btn.btn-info
									p 下载
								.counts
									p 100万下载

					.video
						.border
						h3 游戏视频
						.more
							a(href="#")更多>
						.video-wrapper
							img(src="img/video_01.png", alt="video")
						.video-wrapper
							img(src="img/video_02.png", alt="video")
						.video-wrapper
							img(src="img/video_01.png", alt="video")
						.video-wrapper
							img(src="img/video_02.png", alt="video")
						.video-wrapper
							img(src="img/video_01.png", alt="video")
						.video-wrapper
							img(src="img/video_02.png", alt="video")
					.qrcode
						img(src="img/wechat-QR-code.jpg", alt="qrcode")
						.qrcode-info
							h4 Motion
							p 以区块链技术领导手游产业的下一波成长
