extends frame
block append content
	.index-content
		.container
			.card
				.col-sm-12.form(action="#" method="method").login
					h4 注册
					.form-group
						label(for='name') 用户名称
						input.form-control(type='text', name='name' placeholder='用户名称' autofocus=true)
						.form-check.col-sm-6
							.row
								input#checkEmail.form-check-input(type='radio', name='exampleRadios', value='mail', checked='')
								label.form-check-label(for='checkEmail')
									| 邮箱
						.form-check.col-sm-6
							.row
								input#checkPhone.form-check-input(type='radio', name='exampleRadios', value='phone')
								label.form-check-label(for='checkPhone')
									| 手机号码
						.form-group.mail-group
							label(for='email') 邮箱
							input.form-control(type='email', name='email', placeholder="abc@gmail.com")
						.form-group.phonenumber-group
							label(for='phoneNumber') 手机号码
							.input-group
								input#country-code.form-control(type='tel', name='countryCode', value="+61")
								input#phone-number.form-control(type='tel', name='phoneNumber', placeholder="12345678")
						.form-group
							.col-sm-6
								.row
									input.form-control(type='text', name='verifyCode' placeholder='验证码' autofocus=true)
							.col-sm-6
								.row
									img(src="img/verifyCode.png", alt="verifyCode")
					.row
						.col-sm-12.submit-button
							button.btn.btn-primary(type="submit") 注册
