html {
  font-size: 100%;
  transition: all 1s ease-out; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  text-align: left;
  transition: all 0.5s ease;
  /* Other transform properties here */ }

h1, h2, h3, h4, p, a {
  font-family: 'Montserrat', sans-serif;
  line-height: initial; }

h1 {
  font-weight: normal;
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem; }

p {
  font-size: 1rem;
  font-weight: 300; }

ul {
  padding-left: 0; }

ul > li {
  list-style: none;
  display: inline-block; }

a {
  cursor: pointer;
  text-decoration: none !important;
  color: #000; }

a:hover {
  text-decoration: none !important; }

#menu {
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 14pt;
  margin-top: 10px; }
  #menu a {
    margin-right: 60px; }
  #menu i {
    margin-right: 5px; }
  #menu .menu-section {
    float: right; }

#header-menu {
  top: -64px;
  position: relative;
  z-index: 100; }
  #header-menu .menu, #header-menu .menu-burger {
    position: absolute;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 0;
    right: 25px; }
  #header-menu .menu-burger {
    -webkit-user-select: none;
    cursor: pointer;
    transition: .4s;
    transform-origin: center;
    top: 0px;
    color: #fff; }
    #header-menu .menu-burger.fs {
      transform: rotate(-180deg) translateY(10px);
      color: #0FA7AB;
      z-index: 10;
      position: fixed;
      top: 15px; }
  #header-menu .menu-items.fs {
    opacity: 1;
    z-index: 2 !important; }
  #header-menu .menu-items {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 10px;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .4s;
    margin-top: 100px;
    transform: translateY(-200%);
    pointer-events: none; }
    #header-menu .menu-items a {
      transition: 1s;
      opacity: 0;
      margin-top: 0px;
      display: block;
      text-decoration: none;
      color: #0FA7AB; }
    #header-menu .menu-items.fs {
      transform: translateY(0);
      pointer-events: auto;
      background: #fff;
      opacity: 1;
      top: -100px;
      position: fixed;
      height: 100%;
      padding-top: 35px;
      z-index: 1; }
      #header-menu .menu-items.fs a {
        opacity: 1;
        margin-top: 15px;
        color: #0FA7AB;
        border-bottom: 1px solid #0FA7AB;
        padding-bottom: 15px; }
    #header-menu .menu-items .lan {
      color: #0FA7AB;
      width: 100%;
      border-bottom: 1px solid #0FA7AB; }
      #header-menu .menu-items .lan a, #header-menu .menu-items .lan span {
        display: inline-block;
        border-bottom: 0; }
    #header-menu .menu-items span, #header-menu .menu-items .lan {
      font-size: 16pt;
      font-weight: 300; }

.desktop-menu {
  background-color: #fff;
  padding: 10px 0; }
  .desktop-menu a {
    color: #000;
    margin-right: 10px;
    font-weight: 300;
    font-size: 12pt; }
  .desktop-menu i {
    margin-right: 5px;
    color: #FFCD58; }
  .desktop-menu .menu-section {
    float: right; }
  .desktop-menu .logo {
    background-color: none; }
  .desktop-menu img {
    height: 33px; }

.logo {
  width: 100%;
  padding: 10px;
  background-color: #000;
  display: inline-block;
  z-index: 100;
  position: relative; }
  .logo img {
    vertical-align: middle; }

.header {
  position: fixed;
  width: 100%;
  z-index: 10; }
  .header .active span {
    text-decoration: underline !important; }
  .header .input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle; }

.banner img {
  width: 100%; }

.index-content {
  padding: 102px 0 100px 0;
  position: relative; }

.func-btn .col-xs-4 {
  text-align: center;
  padding: 20px;
  height: 130px; }

.func-btn img {
  height: 70px; }

.func-btn p {
  margin-top: 5px;
  font-weight: bold; }

.welfare .img {
  width: 100%;
  height: 150px;
  background-image: url("../img/public-welfare.png");
  background-size: cover;
  background-position: 50% 50%; }

.welfare h2 {
  position: absolute;
  color: #fff;
  margin-top: -106px;
  padding: 10px 10px;
  width: 517px;
  line-height: 1.2; }

.sections {
  display: flex; }
  .sections h3 {
    margin-top: 10px; }
  .sections .more {
    float: right;
    margin-top: -40px; }

.third {
  flex: 2;
  padding-right: 10px;
  webkit-flex: 2; }

.one {
  padding-right: 10px;
  flex: 1;
  webkit-flex: 1; }

.border {
  border-top: 1px solid gray;
  width: 100%;
  height: 1px;
  margin-top: 15px; }

.border::after {
  border-top: 3px solid gray;
  display: inline-block;
  width: 20%;
  height: 1px;
  top: -14px;
  position: relative;
  content: ''; }

.community .block {
  background-color: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px; }

.community .head {
  width: 60px;
  height: 60px;
  clip-path: circle(30px at center); }
  .community .head img {
    width: 60px;
    height: 60px; }

.community .name {
  display: inline-block;
  margin-left: 10px; }

.community .time {
  float: right;
  margin-top: 15px; }

.community .message {
  width: 100%;
  display: block;
  font-weight: 500;
  padding: 10px 0; }

.community .social-block {
  width: 100%;
  display: block; }
  .community .social-block a {
    margin-right: 30px; }
  .community .social-block i {
    color: #717479; }
  .community .social-block p {
    display: inline-block;
    margin-left: 5px;
    font-size: 10pt; }
  .community .social-block .fa-thumbs-up {
    color: green; }
  .community .social-block .fa-thumbs-down {
    color: red; }

.news .news-wraper {
  background-color: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px; }
  .news .news-wraper .new-block {
    width: 100%;
    display: inline-block; }
  .news .news-wraper a {
    float: left; }
  .news .news-wraper p {
    float: right; }

.comment .comment-wrapper {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  display: inline-block; }

.comment .img {
  display: inline-block;
  width: 20%;
  float: left; }

.comment .comment-block {
  display: inline-block;
  width: 80%;
  float: left; }

.comment h4 {
  padding: 0;
  margin: 0; }

.comment span {
  float: right;
  color: gray;
  margin-bottom: 10px; }

.rank .rant-wrapper {
  border-bottom: 1px solid #E3E3E3;
  padding: 15px 0; }

.rank .medal {
  top: 0;
  display: inline-block; }
  .rank .medal img {
    width: 65px; }

.rank .img {
  top: 0;
  display: inline-block;
  margin-left: 5px; }
  .rank .img img {
    width: 65px; }

.rank .description {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px; }
  .rank .description h5 {
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 14pt; }
  .rank .description span {
    font-size: 11pt;
    display: block; }

.rank .rankings {
  display: inline-block;
  font-size: 9pt;
  margin-top: 5px; }
  .rank .rankings i {
    margin-right: 5px;
    color: #169AD4; }

.rank .points {
  display: inline-block; }
  .rank .points p {
    font-size: 9pt; }

.rank .download {
  float: right; }
  .rank .download .btn {
    height: 30px;
    width: 70px;
    float: right; }
    .rank .download .btn p {
      font-size: 9pt; }
  .rank .download .counts {
    text-align: center; }
    .rank .download .counts p {
      font-size: 9pt;
      padding: 5px 0;
      display: inline-block; }

.video .video-wrapper {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px 10px 0; }
  .video .video-wrapper img {
    width: 100%; }

.footer {
  background-color: #000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0; }
  .footer p {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    bottom: -6px;
    position: relative; }
  .footer img {
    vertical-align: middle;
    margin-right: 20px; }

.qrcode {
  background-color: #F2F2F2; }
  .qrcode img {
    width: 40%;
    margin: 20px 0 0 20px; }
  .qrcode h4 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px; }
  .qrcode .qrcode-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 50%;
    text-align: center;
    padding: 10px; }
    .qrcode .qrcode-info p {
      text-align: left; }

@media (min-width: 320px) and (max-width: 640px) {
  .desktop-menu {
    padding: 15px; }
  .welfare .img {
    height: 120px; }
  .welfare h2 {
    font-size: 18pt;
    width: 100%; }
  .func-btn p {
    font-size: 11pt; }
  .sections {
    display: inline-block; } }
